<div class= "screen">

	<h1>Create a new note...</h1>

	<div class="new note">

		<form method="post" action="/create">
			<input type="text" name="note[title]" placeholder="Title">
			<br/>
			<br/>
			<textarea rows="10" type="text" name="note[content]" placeholder="Content goes here"></textarea>
			<br/>
			<br/>
			<input type="submit" value="Save Note">
		</form>

	</div>
</div>
