<div class="container">

<div class= "screen">
  <h1>Welcome to ChantalBook!</h1>

  <div class="welcome">
 
    <a id="create" href="/create">Create a New Post</a> 
  
    <br>
    <h2>All Notes</h2>

    <% @notes.each do |note| %>

    <div class="title"> <%= note.title %> 
    </div>
    <div class="content"> <%= note.content %>
    </div>
    <a href="/update/<%= note.id %>">Update</a>
    <!-- <a href="/delete">Delete</a> -->
    <br>
    <br>
    <% end %>

  </div>
</div>
</div>
