<div class= "screen">


<h1>Welcome to Notebook!</h1>

<div class="welcome">

<a href="/create">Create a New Post</a> 
<br>

<h2>All Notes</h2>

<% @notes.each do |note| %>

Title: <%= note.title %> <br>
Content: <%= note.content %>
<br>
<a href="/update/<%= note.id %>">Edit</a>
<a href="/delete/<%= note.id %>">Delete</a>
<br>
<br>
<% end %>

</div>
</div>