<div class= "top-nav">


</div>

<h1>Welcome to Postits!</h1>

<div class="login">


  <p>Already have an account?</p>

  <% if @message %>
  <p style="color:red"><%= @message %></p>
  <% end %>

  <form id="login_form" action="/user/login" method="post">
    <input type="text" name="email" placeholder="Enter Email"><br><br>
    <input type="password" name="password" placeholder="Enter Password ">
    
    <br>
    <br>
    New? 
    <br>
    <a href="/user/new">Create an account</a>
     <br>
    <br>


    <input id="button" type="submit" value="Sign in!">
    <br>
    <br>
  </form>

</div>
